//color variables
$dark-gray: #333;
$blue: #4b9eff;

//font stack
$sans-serif: Lato, sans-serif;
//base styles
* {
  box-sizing: border-box;
}
html,
body  {
  height: 100%;
  font-family: $sans-serif;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  font-family: $sans-serif;
}

.haven-navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: $dark-gray;
  color: white;
  border-radius: 0;
}

.container--full-height {
  height: 100%;
}

.search--autocomplete {
  position: relative;
}

.search--autocomplete .uk-dropdown  {
  position: absolute;
  top: 0;
  margin-top: 20px;
}

.tag {
  background-color: $blue;
  color: white;
  display: inline-block;
  padding: .5rem;
  border-radius: .25rem;
  margin: 0 .25rem;
}
.tag--close {
  cursor: pointer;
}