//base styles
//color variables
$primary: #4b9eff;
html,
body  {
  height: 100%;
}

.container--full-height {
  height: 100%;
}

.search--autocomplete {
  position: relative;
}

.search--autocomplete .uk-dropdown  {
  position: absolute;
  top: 0;
  margin-top: 20px;
}

.tag {
  background-color: $primary;
  display: inline-block;
}