//color variables
$dark-gray: #333;
$red: #ED6A6A;
$orange: #E98554;
$yellow: #F2F263;
$green: #60E271;
$blue: #50E4C8;
$blue-green: #61D3AD;
$purple: #C5A4EE;

//font stack
$sans-serif: Lato, sans-serif;
//base styles
* {
  box-sizing: border-box;
}
html,
body  {
  height: 100%;
  font-family: $sans-serif;
  font-size: 100%;
}

body  {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  font-family: $sans-serif;
}


.uk-button-success,
.uk-button-success:hover,
.uk-button-success:active,
.uk-button-success:focus  {
  background-color: $blue;
}
.uk-button-link,
.uk-button-link:hover,
.uk-button-link:active,
.uk-button-link:focus  {
  color: white;
}

.haven-navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: $dark-gray;
  color: white;
  border-radius: 0;
}

.container--full-height {
  height: 100%;
}
.message--container {
  flex-direction: column;
}
.messages {
  flex: 3;
  overflow: auto;
}

.message-box  {
  flex: 2;
}

.search--autocomplete {
  position: relative;
}

.search--autocomplete .uk-dropdown  {
  position: absolute;
  top: 0;
  margin-top: 20px;
}

.tag {
  color: white;
  display: inline-block;
  padding: .5rem;
  border-radius: .25rem;
  margin: 0 .25rem;
  margin-bottom: .5rem;
}

@for $i from 1 through 6 {
  $colors: $red, $orange, $yellow, $green, $blue, $purple;
  .tag:nth-child(6n + #{$i}){
    background-color: nth($colors, $i);
  }
}

.tag--close {
  cursor: pointer;
}

#acc-wrap {
    height: 400px;
}
